@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

.hero {
  display: flex;
  margin: 1em;
  align-items: center;

  .thumb {
    height : 100px;
    width: 100px;
  }

  * {
    margin: 0.5em;
  }
}
