<body>
  <h1>Liste des héros Marvel</h1>
  <div>
    <div *ngFor="let hero of heroes" class="hero">
      <img src={{hero.thumbnailURL}} class="thumb">
      <p>{{hero.name}}</p>
      <p>{{hero.description}}</p>
    </div>

    <div>
      <button *ngIf="currentPage != 0" type="button" (click)="previousPage()">Page précédente</button>
      <button *ngIf="heroes.length == 20" type="button" (click)="nextPage()">Page suivante</button>
    </div>
  </div>
</body>
